BRANCH_NAME=
COMMIT_MSG_FILE=
COMMIT_SOURCE=
DATABASE_URL=
FILE_LIST=
GIT_EMAIL=
GIT_LOG=
GIT_USER=
GIT_VER=
LC_ALL=
ON_ERROR_STOP=
OS_INFO=
OUT_DIR=
REPO_URL=
SHA1=
SHORT_SHA=
SIZES=
SNAP_DIR=
SNAP_FILE=
SOB=
UTC_TS=
UVA=
